name: Release Package
permissions:
  contents: write
  discussions: write
on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release (e.g., 1.0.0)"
        required: true
        type: string

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun i
      - run: bun run build
      - run: bun run build:porteable
      - run: bun run changelog
      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.md
          repository: involvex/npm-global-updater
          # note you'll typically need to create a personal access token
          # with permissions to create releases in the other repo
          token: ${{ secrets.GH_TOKEN }}
          files: |
            CHANGELOG.md
            bin/npm-updater.js
            bin/npm-updater.exe
          draft: true
          make_latest: true
          body: ${{github.CHANGELOG}}
